/* **
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: pointer;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}






@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

:root {
    --ccDark: #1E1F23;
    --ccGrey: #2C2D31;
    --ccWhiteGrey: #828282;
    --ccBackground: #3B3855;
    --ccWhite: #F5F5F5;
    --ccPurple: #5864F0;
}

body {
    font-family: 'Imprima', sans-serif;
    color: var(--ccWhite);
    -ms-overflow-style: none; /*IE & Edge*/
    scrollbar-width: none; /*Firefox*/
}

body::-webkit-scrollbar{
    display: none; /*Chrome, Safari, Opera, etc*/
}

body, html {
    transition: all .5s ease;
}

h1 { font-size: 25px }
h2 { font-size: 22px }
h3 { font-size: 20px }
h4 { font-size: 18px }
.small { font-size: 14px }
.medium { font-size: 20px }

.container {
    justify-self: center;
    text-align: center;
    background: var(--ccDark);
    height: 100vh;
}


/* \/ \/ \/ Navbar content \/ \/ \/ */

nav { 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem 1.5rem;
    background: var(--ccDark);
}

    .logotype {
        display: flex;
        align-items: center;
        gap: 10px;
    }

        .logotype h2 {
            display: none;
        }

        .logotype button {
            padding: .35rem .5rem .25rem .5rem;
            border-radius: .25rem;
            color: var(--ccPurple);
            border: 2px solid var(--ccPurple);
            transition: background .2s, color .2s;
        }

        .logotype button:hover {
            color: var(--ccDark);
            background: var(--ccPurple);
        }

    .theme-switch {
        display: flex;
        gap: 5px;
        align-items: center;
    }

        .sun {
            font-size: 14px;
            color: var(--ccWhite); 
        }

        .moon {
            font-size: 13px;
            color: var(--ccPurple);
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 52px;
            height: 27px;
        }

        .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000;
            border: .5px solid #000;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 4px;
            bottom: 4px;
            background-color: var(--ccPurple);
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #000;
        }
    
        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        
        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }




/* \/ \/ \/ Sidebar content \/ \/ \/ */

aside {
    position: fixed;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: var(--ccDark);
    text-align: left;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: hidden;
    transition: transform 0.2s ease-in-out;
    transform: translateX(-100%);
}
    aside.open {
        transform: translateX(0);
    }

    aside button {
        width: 100%;
        padding: .75rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    aside .new-project, .delete-project {
        color: var(--ccPurple);
        justify-content: left;
        gap: 10px;
    }

    aside button:hover {
        background: var(--ccPurple);
        color: var(--ccDark);
    }

.project-btn-container {
    max-height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; /*IE & Edge*/
    scrollbar-width: none; /*Firefox*/
}  

    .project-btn-container::-webkit-scrollbar {
        display: none;
    }

footer{
    color: var(--ccWhiteGrey);
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
}


/* \/ \/ \/ Main content \/ \/ \/ */

main {
    background-color: var(--ccGrey);
    height: calc(100% - 64px);
    overflow-y: scroll;
    padding: 1.5rem 0;
    -ms-overflow-style: none; /*IE & Edge*/
    scrollbar-width: none; /*Firefox*/
}

main::-webkit-scrollbar{
    display: none; /*Chrome, Safari, Opera, etc*/
}

section {
    background: var(--ccDark);
    padding: 1.5rem 0;
    border-radius: 10px;
    margin: 0 1.5rem;
}

.title-card, .current-timer, .clock-display {
    margin-bottom: 1rem;
}
    .clock-display {
        font-size: 60px;
    }

    .title-card div {
        display: flex;
        justify-content: center;
        align-items: middle;
        gap: 5px;
        margin-top: .5rem;
        font-style: italic;
        cursor: pointer;
        color: var(--ccPurple);
    }

    .title-card div:hover {
        opacity: 50%;
    }

    .timer-buttons {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
    }

    .timer-buttons li button {
        font-size: 22px;
        padding: .5rem .7rem;
        margin-bottom: .25rem;
        background: var(--ccPurple);
        color: var(--ccDark);
        border-radius: .5rem;
        transition: background .2s, color .2s;
    }

    .timer-buttons li button:hover {
        background: none;
        color: var(--ccPurple);
    }

.total-time {
    margin: 1.5rem 0;
}

.list-item {
    margin-bottom: 1rem;
}

.list-item section {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .entry-info {
        text-align: left;
    }

    .entry-buttons {
        display: flex;
        gap: .5rem;
        padding: .5rem .35;
    }

    .entry-buttons p {
        font-size: 12px;
        margin-top: .25rem;
    }

    .entry-buttons li button {
        color: var(--ccPurple);
        transition: color .2s;
    }

    .entry-buttons li button:hover {
        color: var(--ccWhite);
    }


@media screen and (min-width: 400px) {
    .logotype h2 {
        display: block;
    }
}

@media screen and (min-width: 550px) {
    .entry-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .entry-buttons {
        margin-left: 4rem;
    }
}

@media screen and (min-width: 678px) {
    .container {
        background: var(--ccDark);
        padding: 0 1rem 1rem 1rem;
    }

    .project-btn-container {
        padding-right: 2rem; 
    }
}

@media screen and (min-width: 1000px) {
    body {
        background: var(--ccBackground);
        display: flex;
        justify-content: center;
    }

    .container {
        position: relative;
        display: flex;
        gap: 25px;
        margin: 1rem;
        padding-top: 1rem;
        width: 100%;
        max-width: 1200px;
        border-radius: 1rem;
        height: calc(100vh - 2rem);
    }

    nav {
        position: absolute;
        top: 1rem;
        left: 0;
        right: 0;
        width: 99%;
        background: none;
        z-index: 10;
    }

    aside {
        position: static;
        flex: 1;
        transform: translateX(0);
        padding: 4rem 0 0 .5rem;
        height: 100%;
    }

    aside button {
        padding-inline: 0;
    }

    .project-btn-container {
        padding-right: 0rem; 
    }

    main {
        flex: 2;
        border-radius: 0 1rem 1rem 0;
        padding-top: 4rem;
        height: 100%;
    }
}

/* truncate long content-title on small screens*/

@media (max-width: 400px) {
    .content-title {
        max-width: 200px; /* set maximum width */
        margin: 0 auto;
        white-space: nowrap; /* prevent line breaks */
        overflow: hidden; /* hide extra text */
        text-overflow: ellipsis; /* show ellipsis when text is truncated */
    }
  }